<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>Django | Chapter 8: Custom User Model</title>
  <meta name="description" content="Learn how to develop and deploy real, production-level web applications with Python and Django. And explore Django Rest Framework for building modern web APIs.">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="canonical" href="https://djangoforbeginners.com/">
</head>
<body class="site">
  <header class="header-home">
    <div class="container-flex">
        <h1 class="h1-home">Django 2.0 Tutorial for Beginners</h1>

    </div>
  </header>
  <main class="site-content">
    <div class="container-flex">
      <article class="post">

   <div class="post-header">
     <h1 class="post-title" itemprop="name headline">Chapter 8: Custom User Model</h1>
     <p class="post-meta">
       Use a custom user model to implement signup, login, and logout.</p>
   </div>

   <div class="post-content" itemprop="articleBody">
     <p>For the rest of the book we will build out a <em>social messaging</em> app very similar to Twitter. It will allow users to write their own posts and also comment on others. We’ll implement a complete user authentication flow including email confirmation and learn how to restrict site access to only logged-in users.</p>

 <p>One big change compared to our previous <em>blog</em> app is that we will use a <em>custom user model</em>. This is a Django best practice that is somewhat buried <a href="https://docs.djangoproject.com/en/2.0/topics/auth/customizing/#using-a-custom-user-model-when-starting-a-project">in the official documentation</a>. However you should <strong>always use a custom user model</strong> for new projects.</p>

 <p>The main reason for this is that even if you think the <code class="highlighter-rouge">User</code> model is just fine for now, if at any point in the future you want to make changes to it you’re in for a world of hurt. The <code class="highlighter-rouge">User</code> model is tightly interwoven with the rest of the Django framework, especially the <code class="highlighter-rouge">admin</code> app.</p>

 <p>And given Django’s legacy history there are a few things about the built-in <code class="highlighter-rouge">User</code> model that would be nice to change. For example, the username field is not case sensitive so “Will” and “will” are treated as distinct usernames. The email field is not unique by default, which makes it challenging to allow users to login with email instead of a username. And the “first name” and “last name” fields on <code class="highlighter-rouge">User</code> are not friendly to international naming standards: in many cultures either one name or a string of names is used. Django core developer Russell Keith-Magee has an <a href="https://www.youtube.com/watch?v=458KmAKq0bQ" target="\_blank">excellent video talk</a> that covers these shortcomings in detail.</p>

 <p>The good news is that if we start all new Django projects with a custom user model, we have the option to make adjustments later on as needed. That’s what we’ll do here.</p>

 <p>Complete source code for this chapter can be found <a href="https://github.com/wsvincent/djangoforbeginners/tree/master/ch8-custom-user-model" target="\_blank">on Github</a>.</p>

 <h2 id="setup">Setup</h2>
 <p>The first step is to create a new Django project from the command line. We need to do several things:</p>

 <ul>
   <li>create a new directory for our code</li>
   <li>create a new virtual environment <code class="highlighter-rouge">msg</code></li>
   <li>install Django</li>
   <li>make a new Django project <code class="highlighter-rouge">msg_project</code></li>
   <li>make a new app <code class="highlighter-rouge">users</code></li>
 </ul>

 <p>We’re calling our app for managing users <code class="highlighter-rouge">users</code> here but you’ll also see it frequently called <code class="highlighter-rouge">accounts</code> in open source code. The actual name doesn’t matter as long as you’re consistent when referring to it throughout the project.</p>

 <p>Here are the commands to run:</p>

 <div class="highlighter-rouge"><pre class="highlight"><code>$ cd ~/Desktop
 $ mkdir msg &amp;&amp; cd msg
 $ pipenv install django
 $ pipenv shell
 (msg) $ django-admin startproject msg_project .
 (msg) $ ./manage.py startapp users
 (msg) $ ./manage.py runserver
 </code></pre>
 </div>

 <p>Note that we <strong>did not</strong> run <code class="highlighter-rouge">migrate</code> to configure our database. It’s important to wait until <strong>after</strong> we’ve created our new custom user model before doing so. We don’t want <code class="highlighter-rouge">User</code> created until it’s properly configured.</p>

 <p>If you navigate to <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a> you’ll see the Django welcome screen.</p>

 <p><img src="https://djangoforbeginners.com/assets/images/book/django-custom-user-model/welcome.png" alt="Welcome  page" /></p>

 <p>Creating our initial custom user model requires four steps:</p>

 <ul>
   <li>update <code class="highlighter-rouge">settings.py</code></li>
   <li>create a new User model and manager</li>
   <li>create new forms for <code class="highlighter-rouge">UserCreation</code> and <code class="highlighter-rouge">UserChangeForm</code></li>
   <li>update the admin</li>
 </ul>

 <p>We’ll go through each in detail.</p>

 <h2 id="settings">Settings</h2>
 <p>We’ve created a new app <code class="highlighter-rouge">users</code> so we need to add it to our <code class="highlighter-rouge">INSTALLED_APPS</code> setting. Within <code class="highlighter-rouge">settings.py</code> add it at the bottom of the list.</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># msg_project/settings.py</span>
 <span class="n">INSTALLED_APPS</span> <span class="o">=</span> <span class="p">[</span>
     <span class="s">'django.contrib.admin'</span><span class="p">,</span>
     <span class="s">'django.contrib.auth'</span><span class="p">,</span>
     <span class="s">'django.contrib.contenttypes'</span><span class="p">,</span>
     <span class="s">'django.contrib.sessions'</span><span class="p">,</span>
     <span class="s">'django.contrib.messages'</span><span class="p">,</span>
     <span class="s">'django.contrib.staticfiles'</span><span class="p">,</span>
     <span class="s">'users'</span><span class="p">,</span> <span class="c"># new</span>
 <span class="p">]</span>
 </code></pre>
 </div>

 <p>Then in the same <code class="highlighter-rouge">settings.py</code> file we need to swap the default user model for our custom user model. We can do this with the setting <a href="https://docs.djangoproject.com/en/2.0/ref/settings/#std:setting-AUTH_USER_MODEL">AUTH_USER_MODEL</a>.</p>

 <p>At the bottom of the <code class="highlighter-rouge">settings.py</code> file add the following line:</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># msg_project/settings.py</span>
 <span class="n">AUTH_USER_MODEL</span> <span class="o">=</span> <span class="s">'users.CustomUser'</span>
 </code></pre>
 </div>

 <h2 id="models-and-managers">Models and Managers</h2>
 <p>We’re going to need both a new model and <a href="https://docs.djangoproject.com/en/2.0/topics/db/managers/">manager</a> for our custom user. We’ve already used models before, which are a concise way to write Python classes that are translated into database queries. The <strong>manager</strong> is the interface for connecting the models into actual database queries. In other words it does all the hard work and heavy lifting so we can just write simple Python in our model classes.</p>

 <p>A full explanation of managers is beyond the scope for an introductory book on Django, but the key takeaway is that <strong>every model has at least one Manager</strong>. So when we make a new custom user model we must also make a model manager for it.</p>

 <p>In the <code class="highlighter-rouge">users/models.py</code> file we’ll do just this. Since we’re not making any changes at this point, we can simply subclass the existing functionality contained in <a href="https://docs.djangoproject.com/en/2.0/ref/contrib/auth/#django.contrib.auth.models.UserManager">UserManager</a> and <a href="https://docs.djangoproject.com/en/2.0/topics/auth/customizing/#django.contrib.auth.models.AbstractUser">AbstractUser</a>.</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># users/models.py</span>
 <span class="kn">from</span> <span class="nn">django.contrib.auth.models</span> <span class="kn">import</span> <span class="n">AbstractUser</span><span class="p">,</span> <span class="n">UserManager</span>


 <span class="k">class</span> <span class="nc">CustomUserManager</span><span class="p">(</span><span class="n">UserManager</span><span class="p">):</span>
     <span class="k">pass</span>

 <span class="k">class</span> <span class="nc">CustomUser</span><span class="p">(</span><span class="n">AbstractUser</span><span class="p">):</span>
     <span class="n">objects</span> <span class="o">=</span> <span class="n">CustomUserManager</span><span class="p">()</span>
 </code></pre>
 </div>

 <p>Our <code class="highlighter-rouge">CustomUserManager</code> literally does nothing at this point except extend <code class="highlighter-rouge">UserManager</code>, which means it contains all of <code class="highlighter-rouge">UserManager</code>’s code which we can modify later, if needed.</p>

 <p>Our <code class="highlighter-rouge">CustomUser</code> extends <code class="highlighter-rouge">AbstractUser</code> and specifies that all its <code class="highlighter-rouge">objects</code> come from the <code class="highlighter-rouge">CustomUserManager</code>.</p>

 <h2 id="forms">Forms</h2>
 <p>Whenever we create or update a user we’re dealing with models, managers, and <strong>forms</strong>. There are two forms that the default <code class="highlighter-rouge">User</code> model uses which we’ll need to customize: <a href="https://docs.djangoproject.com/en/2.0/topics/auth/default/#django.contrib.auth.forms.UserCreationForm">UserCreationForm</a> and <a href="https://docs.djangoproject.com/en/2.0/topics/auth/default/#django.contrib.auth.forms.UserChangeForm">UserChangeForm</a>.</p>

 <p>Stop the local server with <code class="highlighter-rouge">Control+c</code> and create a new file in the <code class="highlighter-rouge">users</code> app called <code class="highlighter-rouge">forms.py</code>.</p>

 <div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ touch users/forms.py
 </code></pre>
 </div>

 <p>We’ll update it with the following code to largely subclass the existing forms.</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># users/forms.py</span>
 <span class="kn">from</span> <span class="nn">django</span> <span class="kn">import</span> <span class="n">forms</span>
 <span class="kn">from</span> <span class="nn">django.contrib.auth.forms</span> <span class="kn">import</span> <span class="n">UserCreationForm</span><span class="p">,</span> <span class="n">UserChangeForm</span>
 <span class="kn">from</span> <span class="nn">.models</span> <span class="kn">import</span> <span class="n">CustomUser</span>


 <span class="k">class</span> <span class="nc">CustomUserCreationForm</span><span class="p">(</span><span class="n">UserCreationForm</span><span class="p">):</span>

     <span class="k">class</span> <span class="nc">Meta</span><span class="p">(</span><span class="n">UserCreationForm</span><span class="o">.</span><span class="n">Meta</span><span class="p">):</span>
         <span class="n">model</span> <span class="o">=</span> <span class="n">CustomUser</span>
         <span class="n">fields</span> <span class="o">=</span> <span class="n">UserCreationForm</span><span class="o">.</span><span class="n">Meta</span><span class="o">.</span><span class="n">fields</span>


 <span class="k">class</span> <span class="nc">CustomUserChangeForm</span><span class="p">(</span><span class="n">UserChangeForm</span><span class="p">):</span>

     <span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
         <span class="n">model</span> <span class="o">=</span> <span class="n">CustomUser</span>
         <span class="n">fields</span> <span class="o">=</span> <span class="n">UserChangeForm</span><span class="o">.</span><span class="n">Meta</span><span class="o">.</span><span class="n">fields</span>
 </code></pre>
 </div>

 <p>At the top we’re importing the existing forms we’ll extend as well as our own, newly created <code class="highlighter-rouge">CustomUser</code> model. We create a new class called <code class="highlighter-rouge">CustomUserCreationForm</code> that extends the existing <code class="highlighter-rouge">UserCreationForm</code>. Notably we specify that the model to use is <code class="highlighter-rouge">CustomUser</code> not the default user model.</p>

 <p>In <code class="highlighter-rouge">CustomUserChangeForm</code> we’re again subclassing an existing form <code class="highlighter-rouge">UserChangeForm</code> and specifying it use our new <code class="highlighter-rouge">CustomUser</code> model.</p>

 <p>That’s it! Now our forms will work correctly.</p>

 <h2 id="admin">Admin</h2>
 <p>The final step is to update our <code class="highlighter-rouge">admin.py</code> file. Django lets us change and modify users within the admin so we need to update the existing <code class="highlighter-rouge">UserAdmin</code> class.</p>

 <p>There’s a bit of code in this one although ultimately all we’re doing is extending <code class="highlighter-rouge">UserAdmin</code> to use our new <code class="highlighter-rouge">CustomUser</code> model and our two new forms.</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># users/admin.py</span>
 <span class="kn">from</span> <span class="nn">django.contrib</span> <span class="kn">import</span> <span class="n">admin</span>
 <span class="kn">from</span> <span class="nn">django.contrib.auth.admin</span> <span class="kn">import</span> <span class="n">UserAdmin</span>

 <span class="kn">from</span> <span class="nn">.forms</span> <span class="kn">import</span> <span class="n">CustomUserCreationForm</span><span class="p">,</span> <span class="n">CustomUserChangeForm</span>
 <span class="kn">from</span> <span class="nn">.models</span> <span class="kn">import</span> <span class="n">CustomUser</span>


 <span class="k">class</span> <span class="nc">CustomUserAdmin</span><span class="p">(</span><span class="n">UserAdmin</span><span class="p">):</span>
     <span class="n">model</span> <span class="o">=</span> <span class="n">CustomUser</span>
     <span class="n">add_form</span> <span class="o">=</span> <span class="n">CustomUserCreationForm</span>
     <span class="n">form</span> <span class="o">=</span> <span class="n">CustomUserChangeForm</span>

 <span class="n">admin</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">register</span><span class="p">(</span><span class="n">CustomUser</span><span class="p">,</span> <span class="n">CustomUserAdmin</span><span class="p">)</span>
 </code></pre>
 </div>

 <p>And we’re done!</p>

 <p>Django gets most things right but if I’m being objective I wish it wasn’t such a pain to create a custom user model for each new project. It should be the default setting. Maybe someday.</p>

 <p>For now we’re all set to continue onwards. And we can freely change and modify our <code class="highlighter-rouge">CustomUser</code> model in the future as needed.</p>

 <p>Go ahead and run <code class="highlighter-rouge">makemigrations</code> and <code class="highlighter-rouge">migrate</code> for the first time to create a new database that uses the custom user model.</p>

 <div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ ./manage.py makemigrations
 (msg) $ ./manage.py migrate
 </code></pre>
 </div>

 <h2 id="superuser">Superuser</h2>
 <p>It’s helpful to create a superuser account that we can use to test out our user auth flow.</p>

 <p>On the command line type the following command and go through the prompts.</p>

 <div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ ./manage.py createsuperuser
 </code></pre>
 </div>

 <h2 id="templates">Templates</h2>
 <p>We’ll create very basic login, logout, and signup pages just to make sure everything is working correctly. And a home page with links to all of them so we don’t to type URLs by hand.</p>

 <p>Django template loader looks for templates in a nested structure within each app. So a <code class="highlighter-rouge">home.html</code> template in <code class="highlighter-rouge">users</code> would need to be located at <code class="highlighter-rouge">users/templates/users/home.html</code>. I prefer to use a project-level <code class="highlighter-rouge">templates</code> folder instead so they’re all in the same place.</p>

 <p>We can tell Django to <em>also</em> look in this folder by updating the <code class="highlighter-rouge">settings.py</code> file.</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># msg_project/settings.py</span>
 <span class="s">'DIRS'</span><span class="p">:</span> <span class="p">[</span><span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">BASE_DIR</span><span class="p">,</span> <span class="s">'templates'</span><span class="p">)],</span>
 </code></pre>
 </div>

 <p>Upon a successful login and logout we need to tell Django where to redirect our user. For now we’ll send them to the homepage. When we create the URL for it we’ll make sure to add a named URL called <code class="highlighter-rouge">home</code>.</p>

 <p>Add these two lines at the bottom of the <code class="highlighter-rouge">settings.py</code> file too.</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># msg_project/settings.py</span>
 <span class="n">LOGIN_REDIRECT_URL</span> <span class="o">=</span> <span class="s">'home'</span>
 <span class="n">LOGOUT_REDIRECT_URL</span> <span class="o">=</span> <span class="s">'home'</span>
 </code></pre>
 </div>

 <p>Create a new project-level templates folder and within it a registration folder as that’s where Django will look for the login template.</p>

 <div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ mkdir templates
 (msg) $ mkdir templates/registration
 </code></pre>
 </div>

 <p>Then create our four templates:</p>

 <div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ touch registration/login.html
 (msg) $ touch base.html
 (msg) $ touch home.html
 (msg) $ touch signup.html
 </code></pre>
 </div>

 <p>Here’s the HTML code for each file to use. The <code class="highlighter-rouge">base.html</code> will be inherited by every other template in our project. By using a block like <code class="highlighter-rouge"><span class="p">{</span><span class="err">%</span><span class="w"> </span><span class="err">block</span><span class="w"> </span><span class="err">content</span><span class="w"> </span><span class="err">%</span><span class="p">}</span></code> we can later override the content <em>just in this place</em> in other templates.</p>

 <div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/base.html --&gt;</span>
 <span class="cp">&lt;!DOCTYPE html&gt;</span>
 <span class="nt">&lt;html&gt;</span>
 <span class="nt">&lt;head&gt;</span>
   <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span class="nt">&gt;</span>
   <span class="nt">&lt;title&gt;</span>Social Messaging App<span class="nt">&lt;/title&gt;</span>
 <span class="nt">&lt;/head&gt;</span>
 <span class="nt">&lt;body&gt;</span>
   <span class="nt">&lt;main&gt;</span>
     {% block content %}
     {% endblock %}
   <span class="nt">&lt;/main&gt;</span>
 <span class="nt">&lt;/body&gt;</span>
 <span class="nt">&lt;/html&gt;</span>
 </code></pre>
 </div>

 <div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/home.html --&gt;</span>
 {% extends 'base.html' %}

 {% block title %}Home{% endblock %}

 {% block content %}
 {% if user.is_authenticated %}
   Hi {{ user.username }}!
   <span class="nt">&lt;p&gt;&lt;a</span> <span class="na">href=</span><span class="s">"{% url 'logout' %}"</span><span class="nt">&gt;</span>logout<span class="nt">&lt;/a&gt;&lt;/p&gt;</span>
 {% else %}
   <span class="nt">&lt;p&gt;</span>You are not logged in<span class="nt">&lt;/p&gt;</span>
   <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{% url 'login' %}"</span><span class="nt">&gt;</span>login<span class="nt">&lt;/a&gt;</span> |
   <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{% url 'signup' %}"</span><span class="nt">&gt;</span>signup<span class="nt">&lt;/a&gt;</span>
 {% endif %}
 {% endblock %}
 </code></pre>
 </div>

 <div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/registration/login.html --&gt;</span>
 {% extends 'base.html' %}

 {% block title %}Login{% endblock %}

 {% block content %}
 <span class="nt">&lt;h2&gt;</span>Login<span class="nt">&lt;/h2&gt;</span>
 <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"post"</span><span class="nt">&gt;</span>
   {% csrf_token %}
   {{ form.as_p }}
   <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span><span class="nt">&gt;</span>Login<span class="nt">&lt;/button&gt;</span>
 <span class="nt">&lt;/form&gt;</span>
 {% endblock %}
 </code></pre>
 </div>

 <div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/signup.html --&gt;</span>
 {% extends 'base.html' %}

 {% block title %}Sign Up{% endblock %}

 {% block content %}
   <span class="nt">&lt;h2&gt;</span>Sign up<span class="nt">&lt;/h2&gt;</span>
   <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"post"</span><span class="nt">&gt;</span>
     {% csrf_token %}
     {{ form.as_p }}
     <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span><span class="nt">&gt;</span>Sign up<span class="nt">&lt;/button&gt;</span>
   <span class="nt">&lt;/form&gt;</span>
 {% endblock %}
 </code></pre>
 </div>

 <p>Our templates are now all set. Still to go are our urls and views.</p>

 <h2 id="urls">URLs</h2>
 <p>Let’s start with the url routes. In our project-level <code class="highlighter-rouge">urls.py</code> file we want to have our <code class="highlighter-rouge">home.html</code> template appear as the homepage. But we don’t want to build a dedicatd <code class="highlighter-rouge">pages</code> app just yet, so we can use the shortcut of importing <code class="highlighter-rouge">TemplateView</code> and setting the <code class="highlighter-rouge">template_name</code> right in our url pattern.</p>

 <p>Next we want to “include” both the <code class="highlighter-rouge">users</code> app and the built-in <code class="highlighter-rouge">auth</code> app. So make sure to add <code class="highlighter-rouge">include</code> to our imports on the second line. We’ll add url patterns for both apps at <code class="highlighter-rouge">/users/</code>.</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># msg_project/urls.py</span>
 <span class="kn">from</span> <span class="nn">django.contrib</span> <span class="kn">import</span> <span class="n">admin</span>
 <span class="kn">from</span> <span class="nn">django.urls</span> <span class="kn">import</span> <span class="n">path</span><span class="p">,</span> <span class="n">include</span>
 <span class="kn">from</span> <span class="nn">django.views.generic.base</span> <span class="kn">import</span> <span class="n">TemplateView</span>

 <span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
     <span class="n">path</span><span class="p">(</span><span class="s">''</span><span class="p">,</span> <span class="n">TemplateView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(</span><span class="n">template_name</span><span class="o">=</span><span class="s">'home.html'</span><span class="p">),</span> <span class="n">name</span><span class="o">=</span><span class="s">'home'</span><span class="p">),</span>
     <span class="n">path</span><span class="p">(</span><span class="s">'admin/'</span><span class="p">,</span> <span class="n">admin</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">urls</span><span class="p">),</span>
     <span class="n">path</span><span class="p">(</span><span class="s">'users/'</span><span class="p">,</span> <span class="n">include</span><span class="p">(</span><span class="s">'users.urls'</span><span class="p">)),</span>
     <span class="n">path</span><span class="p">(</span><span class="s">'users/'</span><span class="p">,</span> <span class="n">include</span><span class="p">(</span><span class="s">'django.contrib.auth.urls'</span><span class="p">)),</span>
 <span class="p">]</span>
 </code></pre>
 </div>

 <p>Create a <code class="highlighter-rouge">urls.py</code> file in the <code class="highlighter-rouge">users</code> app.</p>

 <div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ touch users/urls.py
 </code></pre>
 </div>

 <p>We don’t need to include urls or views for login and logout since they’re already provided in the Django <code class="highlighter-rouge">auth</code> app. We just need to configure a route for our signup page.</p>

 <p>Update <code class="highlighter-rouge">users/urls.py</code> with the following code:</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># users/urls.py</span>
 <span class="kn">from</span> <span class="nn">django.urls</span> <span class="kn">import</span> <span class="n">path</span>
 <span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">views</span>

 <span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
     <span class="n">path</span><span class="p">(</span><span class="s">'signup/'</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">SignUp</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span> <span class="n">name</span><span class="o">=</span><span class="s">'signup'</span><span class="p">),</span>
 <span class="p">]</span>
 </code></pre>
 </div>

 <p>The last step is our <code class="highlighter-rouge">views.py</code> file which will contain the logic for our signup form. We’re using Django’s generic <code class="highlighter-rouge">CreateView</code> here and telling it to use our custom <code class="highlighter-rouge">form_class</code>, to redirect to <code class="highlighter-rouge">login</code> once a user signs up successfully, and that our template is named <code class="highlighter-rouge">signup.html</code>.</p>

 <div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># users/views.py</span>
 <span class="kn">from</span> <span class="nn">django.urls</span> <span class="kn">import</span> <span class="n">reverse_lazy</span>
 <span class="kn">from</span> <span class="nn">django.views</span> <span class="kn">import</span> <span class="n">generic</span>

 <span class="kn">from</span> <span class="nn">.forms</span> <span class="kn">import</span> <span class="n">CustomUserCreationForm</span>

 <span class="k">class</span> <span class="nc">SignUp</span><span class="p">(</span><span class="n">generic</span><span class="o">.</span><span class="n">CreateView</span><span class="p">):</span>
     <span class="n">form_class</span> <span class="o">=</span> <span class="n">CustomUserCreationForm</span>
     <span class="n">success_url</span> <span class="o">=</span> <span class="n">reverse_lazy</span><span class="p">(</span><span class="s">'login'</span><span class="p">)</span>
     <span class="n">template_name</span> <span class="o">=</span> <span class="s">'signup.html'</span>
 </code></pre>
 </div>

 <p>Ok, phew! We’re done. Let’s test things out.</p>

 <p>Start up the server with <code class="highlighter-rouge">./manage.py runserver</code> and go to the homepage at <a href="http://127.0.0.1:8000/">http://127.0.0.1:8000/</a>.</p>

 <p><img src="https://djangoforbeginners.com/assets/images/book/django-custom-user-model/home_loggedout.png" alt="Home page" /></p>

 <p>Click on <em>login</em> link and use your <strong>superuser</strong> credentials.</p>

 <p><img src="https://djangoforbeginners.com/assets/images/book/django-custom-user-model/login.png" alt="Login page" /></p>

 <p>Upon successful submission you’ll be redirected back to the homepage and see a personalized greeting.</p>

 <p><img src="https://djangoforbeginners.com/assets/images/book/django-custom-user-model/home_superuser.png" alt="Homepage with superuser" /></p>

 <p>Now use the <em>logout</em> link and then click on <em>signup</em>.</p>

 <p><img src="https://djangoforbeginners.com/assets/images/book/django-custom-user-model/signup.png" alt="Signup page" /></p>

 <p>Create a new user. Mine is called <code class="highlighter-rouge">testuser</code>. After successfully submitting the form you’ll be redirected to the login page. Login with your new user and you’ll again be redirected to the homepage with a personalized greeting for the new user.</p>

 <p><img src="https://djangoforbeginners.com/assets/images/book/django-custom-user-model/home_newuser.png" alt="Homepage with new user" /></p>

 <p>If you want to peruse the admin log into it with your superuser account at <a href="http://127.0.0.1:8000/admin">http://127.0.0.1:8000/admin</a>. If you look at <code class="highlighter-rouge">Users</code> you can see our two users: the one we just created and your previous superuser name (mine is <code class="highlighter-rouge">wsv</code>).</p>

 <p><img src="https://djangoforbeginners.com/assets/images/book/django-custom-user-model/admin.png" alt="Users in the Admin" /></p>

 <h2 id="conclusion">Conclusion</h2>
 <p>Now that our custom user model is configured we can easily and <strong>at any time</strong> add additional fields to it. <a href="https://docs.djangoproject.com/en/2.0/topics/auth/customizing/">The Django docs</a> have further instructions on how to do this but for our current project we’re all set.</p>

 <p>Next up we’ll create a <code class="highlighter-rouge">pages</code> app and add <a href="https://getbootstrap.com/">Bootstrap</a> to our project so everything looks pretty.</p>

 <p>Continue on to <a href="chapter_09.html">Chapter 9: Pages app</a>.</p>

 <p><br /></p>
 <hr />

 <p><br /></p>


   </div>
 </article>
    </div>
  </main>
    <footer>
  <div class="container-flex">
    <div class="nav-wrapper">
      <div class="footer-left">
        Copyright &copy; 2018
      </div>
      <div class="footer-right">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="http://eepurl.com/cRL-aP" target="_blank">Newsletter</a>
      </div>
    </div>
  </div>
</footer>

    <!-- Google Analytics -->

</body>
</html>
