<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>Django | Chapter 10</title>
  <meta name="description" content="Learn how to develop and deploy real, production-level web applications with Python and Django. And explore Django Rest Framework for building modern web APIs.">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="canonical" href="https://djangoforbeginners.com/">
</head>
<body class="site">
  <header class="header-home">
    <div class="container-flex">
        <h1 class="h1-home">Django 2.0 Tutorial for Beginners</h1>

    </div>
  </header>
  <main class="site-content">
    <div class="container-flex">
      <article class="post">

 <div class="post-header">
   <h1 class="post-title" itemprop="name headline">Chapter 10: Password Change and Reset</h1>
   <p class="post-meta">
     Configure password change and reset via emails.</p>
 </div>

 <div class="post-content" itemprop="articleBody">
   <p>In this chapter we will complete the authorization flow of our <em>social messaging</em> app by adding password change and reset functionality. Users will be able to change their current password or, if they’ve forgotten it, to reset it via email.</p>

<!-- We'll use the email service [SendGrid](https://sendgrid.com/) to send our automated emails but we could just as easily use [MailGun](https://www.mailgun.com/) or any other popular service. -->

<p>Django comes with built-in views and urls for both password change and reset. We’ll go through the default pages first and then learn how to customize them with our own templates and email service.</p>

<p>Complete source code can be <a href="https://github.com/wsvincent/djangoforbeginners/tree/master/ch10-password-confirm-reset" target="\_blank">found on Github</a>.</p>

<h2 id="password-change">Password Change</h2>
<p>Letting users change their passwords is a common feature on many websites. Django provides a default implementation that already works at this stage. To try it out navigate to the “Password change” page at <a href="http://127.0.0.1:8000/users/password_change/">http://127.0.0.1:8000/users/password_change/</a>.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/password_change.png" alt="Password change" /></p>

<p>Enter in both your old password and then a new one. Then click the “Change My Password” button.</p>

<p>You’ll be redirected to the “Password change successful” page located at <a href="http://127.0.0.1:8000/users/password_change/done/">http://127.0.0.1:8000/users/password_change/done/</a>.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/password_change_done.png" alt="Password change done" /></p>

<h2 id="customizing-password-change">Customizing password change</h2>
<p>Let’s customize these two password change pages so that they match the look and feel of our <em>social messaging</em> site. Because Django already has created the views and URLs for us, we only need to add new templates.</p>

<p>On the command line create two new template files in the <code class="highlighter-rouge">registration</code> folder.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ touch templates/registration/password_change_form.html
(msg) $ touch templates/registration/password_change_done.html
</code></pre>
</div>

<p>Update <code class="highlighter-rouge">password_change_form.html</code> with the following code.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/registration/password_change_form.html --&gt;</span>
{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}
 <span class="nt">&lt;h1&gt;</span>Password change<span class="nt">&lt;/h1&gt;</span>
 <span class="nt">&lt;p&gt;</span>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.<span class="nt">&lt;/p&gt;</span>

 <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"POST"</span><span class="nt">&gt;</span>
   {% csrf_token %}
   {{ form.as_p }}
   <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"btn btn-success"</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">value=</span><span class="s">"Change my password"</span><span class="nt">&gt;</span>
 <span class="nt">&lt;/form&gt;</span>
<span class="nt">&lt;/div&gt;</span>
{% endblock %}
</code></pre>
</div>

<p>At the top we extend <code class="highlighter-rouge">base.html</code> and set our page title. Because we used “block” titles in our <code class="highlighter-rouge">base.html</code> file we can override them here. The form uses <code class="highlighter-rouge">POST</code> since we’re sending data and a <code class="highlighter-rouge">csrf_token</code> for security reasons. By using <code class="highlighter-rouge">form.as_p</code> we’re simply displaying in paragraphs the content of the default password reset form. And finally we include a submit button that uses Bootstrap’s <code class="highlighter-rouge">btn btn-success</code> styling to make it green.</p>

<p>Go ahead and refresh the page at <a href="http://127.0.0.1:8000/users/password_change/">http://127.0.0.1:8000/users/password_change/</a> to see our changes.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/new_password_change.png" alt="New password change form" /></p>

<p>Next up is the <code class="highlighter-rouge">password_change_done</code> template.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/registration/password_change_done.html --&gt;</span>
{% extends 'base.html' %}

{% block title %}Password Change Successful{% endblock %}

{% block content %}
   <span class="nt">&lt;h1&gt;</span>Password change successful<span class="nt">&lt;/h1&gt;</span>
   <span class="nt">&lt;p&gt;</span>Your password was changed.<span class="nt">&lt;/p&gt;</span>
{% endblock content %}
</code></pre>
</div>

<p>It also extends <code class="highlighter-rouge">base.html</code> and includes a new title. However there’s no form on the page, just new text.</p>

<p>The new page is at <a href="http://127.0.0.1:8000/users/password_change/done/">http://127.0.0.1:8000/users/password_change/done/</a>.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/new_password_change_done.png" alt="New password change done" /></p>

<p>That wasn’t too bad, right? Certainly it was a lot less work than creating everything from scratch, especially all the code around securely updating a user’s password.</p>

<p>Next up is our password reset functionality.</p>

<h2 id="password-reset">Password reset</h2>
<p>Password reset handles the common case of users forgetting their passwords. The steps are very similar to configuring password change, as we just did. Django already provides a default implementation that we will use and then customize the templates so it matches the rest of our site.</p>

<p>The only configuration required is telling Django <strong>how</strong> to send emails. After all, a user can only reset a password if they have access to the email linked to the account. In production we’ll use the email service <a href="https://sendgrid.com/">SendGrid</a> to actually send the emails but for testing purposes we can rely on Django’s <a href="https://docs.djangoproject.com/en/2.0/topics/email/#console-backend">console backend</a> setting which outputs the email text to our command line console instead.</p>

<p>At the bottom of the <code class="highlighter-rouge">settings.py</code> file make the following one-line change.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># msg_project/settings.py</span>
<span class="n">EMAIL_BACKEND</span> <span class="o">=</span> <span class="s">'django.core.mail.backends.console.EmailBackend'</span>
</code></pre>
</div>

<p>And we’re all set! Django will take care of all the rest for us. Let’s try it out.</p>

<p>Navigate to <a href="http://127.0.0.1:8000/users/password_reset/">http://127.0.0.1:8000/users/password_reset/</a> to view the default password reset page.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/password_reset.png" alt="Default password reset page" /></p>

<p>Make sure the email address you enter matches one of your user accounts. Upon submission you’ll then be redirected to the password reset done page at <a href="http://127.0.0.1:8000/users/password_reset/done/">http://127.0.0.1:8000/users/password_reset/done/</a>.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/password_reset_done.png" alt="Default password reset done page" /></p>

<p>Which says to check our email. Since we’ve told Django to send emails to the command line console, the email text will now be there. This is what I see in my console.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>Content-Type: text/plain; charset="utf-8"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Subject: Password reset on 127.0.0.1:8000
From: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="601705020d0113140512200c0f03010c080f1314">[email&#160;protected]</a>
To: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a1d0306062a1d191c0304090f041e44090507">[email&#160;protected]</a>
Date: Wed, 31 Jan 2018 13:56:54 -0000
Message-ID: &lt;<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b58480848281858285848186829b82838286809b87878c83838484848d8c81848186828780828df5849b859b859b8487829bdcdb98d4d1d1c79bd4c7c5d4">[email&#160;protected]</a>&gt;


You're receiving this email because you requested a password reset for your user account at 127.0.0.1:8000.

Please go to the following page and choose a new password:

http://127.0.0.1:8000/users/reset/Mg/4tb-6575ef6d2761916bf732/

Your username, in case you've forgotten: testuser

Thanks for using our site!

The 127.0.0.1:8000 team



Content-Type: text/plain; charset="utf-8"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Subject: Password reset on 127.0.0.1:8000
From: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6e190b0c030f1d1a0b1c2e02010d0f0206011d1a">[email&#160;protected]</a>
To: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9ee9f7f2f2dee9ede8f7f0fdfbf0eab0fdf1f3">[email&#160;protected]</a>
Date: Wed, 31 Jan 2018 13:56:54 -0000
Message-ID: &lt;<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3d0c080c0a090d0a0d0c090f09130a0b0a0e08130e080d04090d0b0e0b0c080d0f0b040e0c0a0f7d0c130d130d130c0f0a135453105c59594f135c4f4d5c">[email&#160;protected]</a>&gt;


You're receiving this email because you requested a password reset for your user account at 127.0.0.1:8000.

Please go to the following page and choose a new password:

http://127.0.0.1:8000/users/reset/Mg/4tb-6575ef6d2761916bf732/

Your username, in case you've forgotten: testuser

Thanks for using our site!

The 127.0.0.1:8000 team
</code></pre>
</div>

<p>Your email text should be identical except for three lines:</p>

<ul>
 <li>the “To” on the sixth line contains the email address of the user</li>
 <li>the URL link contains a secure token that Django randomly generates for us and can be used only once</li>
 <li>Django helpfully reminds us of our username</li>
</ul>

<p>We will customize all of the email default text shortly but for now focus on finding the link provided. Mine is <a href="http://127.0.0.1:8000/users/reset/Mg/4tb-6575ef6d2761916bf732/">http://127.0.0.1:8000/users/reset/Mg/4tb-6575ef6d2761916bf732/</a> in the message above.</p>

<p>Enter this link into your web browser and you’ll be redirected to the “change password page”.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/change_password.png" alt="Default change password page" /></p>

<p>Now enter in a new password and click on the “Change my password” button. The final step is you’ll be redirected to the “Password reset complete” page.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/password_reset_complete.png" alt="Default password reset complete" /></p>

<p>To confirm everything worked, click on the “Log in” link and use your new password. It should work.</p>

<h2 id="custom-templates">Custom Templates</h2>
<p>As with “Password change” we only need to create new templates to customize the look and feel of password reset.</p>

<p>Create four new template files.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ touch templates/registration/password_reset_form.html
(msg )$ touch templates/registration/password_reset_done.html
(msg) $ touch templates/registration/password_reset_confirm.html
(msg) $ touch templates/registration/password_reset_complete.html
</code></pre>
</div>

<p>Start with the password reset form which is <code class="highlighter-rouge">password_reset_form.html</code>.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/registration/password_reset_form.html --&gt;</span>
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
 <span class="nt">&lt;h1&gt;</span>Forgot your password?<span class="nt">&lt;/h1&gt;</span>
 <span class="nt">&lt;p&gt;</span>Enter your email address below, and we'll email instructions for setting a new one.<span class="nt">&lt;/p&gt;</span>

 <span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"POST"</span><span class="nt">&gt;</span>
   {% csrf_token %}
   {{ form.as_p }}
   <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"btn btn-success"</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">value=</span><span class="s">"Send me instructions!"</span><span class="nt">&gt;</span>
 <span class="nt">&lt;/form&gt;</span>
<span class="nt">&lt;/div&gt;</span>
{% endblock %}
</code></pre>
</div>

<p>At the top we extend <code class="highlighter-rouge">base.html</code> and set our page title. Because we used “block” titles in our <code class="highlighter-rouge">base.html</code> file we can override them here. The form uses <code class="highlighter-rouge">POST</code> since we’re sending data and a <code class="highlighter-rouge">csrf_token</code> for security reasons. By using <code class="highlighter-rouge">form.as_p</code> we’re simply displaying in paragraphs the content of the default password reset form. Finally we include a submit button and use Bootstrap’s <code class="highlighter-rouge">btn btn-success</code> styling to make it green.</p>

<p>If you navigate to <a href="http://127.0.0.1:8000/users/password_reset/">http://127.0.0.1:8000/users/password_reset/</a> and refresh the page you can see our new page.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/new_password_reset.png" alt="New password reset" /></p>

<p>Now we can update the other three pages. Each takes the same form of extending <code class="highlighter-rouge">base.html</code>, a new title, new content text, and for “password reset confirm” an updated form as well.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/registration/password_reset_done.html --&gt;</span>
{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
 <span class="nt">&lt;h1&gt;</span>Check your inbox.<span class="nt">&lt;/h1&gt;</span>
 <span class="nt">&lt;p&gt;</span>We've emailed you instructions for setting your password. You should receive the email shortly!<span class="nt">&lt;/p&gt;</span>
{% endblock %}
</code></pre>
</div>

<p>Confirm the changes by going to <a href="http://127.0.0.1:8000/users/password_reset/done/">http://127.0.0.1:8000/users/password_reset/done/</a>.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/new_reset_done.png" alt="New reset done" /></p>

<p>Next the password reset confirm page.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/registration/password_reset_confirm.html --&gt;</span>
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<span class="nt">&lt;h1&gt;</span>Set a new password!<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;form</span> <span class="na">method=</span><span class="s">"POST"</span><span class="nt">&gt;</span>
 {% csrf_token %}
 {{ form.as_p }}
 <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"btn btn-success"</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">value=</span><span class="s">"Change my password"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/form&gt;</span>
{% endblock %}
</code></pre>
</div>

<p>Grab the one-time URL link from the email outputted to the console and you’ll see the following.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/new_set_password.png" alt="New set password" /></p>

<p>Finally here is the password reset complete code.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/registration/password_reset_complete.html --&gt;</span>
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<span class="nt">&lt;h1&gt;</span>Password reset complete<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;p&gt;</span>Your new password has been set. You can log in now on the <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{% url 'login' %}"</span><span class="nt">&gt;</span>log in page<span class="nt">&lt;/a&gt;</span>.<span class="nt">&lt;/p&gt;</span>
{% endblock %}
</code></pre>
</div>

<p>You can view it at <a href="http://127.0.0.1:8000/users/reset/done/">http://127.0.0.1:8000/users/reset/done/</a>.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/new_password_reset_complete.png" alt="New password reset complete" /></p>

<p>Users can now reset their account password!</p>

<h2 id="configure-smtp-email-service">Configure SMTP Email Service</h2>
<p>At this point you may be feeling a little overwhelmed by all the user authentication configuration we’ve done up to this point. That’s normal. After all, we haven’t even created any core <em>social messaging</em> app features yet! Everything has been about setting up custom user accounts and the rest.</p>

<p>The upside to Django’s approach is that it is incredibly easy to customize any piece of our website. The downside is Django requires a bit more out-of-the-box code than some competing web frameworks. As you become more and more experienced in web development, the wisdom of Django’s choice will ring true.</p>

<p>Now we want to have our emails be actually sent to users, not just outputted to our console. We will need to signup for an account on SendGrid and update our <code class="highlighter-rouge">settings.py</code> files. Django will take care of the rest. Ready?</p>

<p><a href="https://sendgrid.com/">SendGrid</a> is a popular service for sending transactional emails so we’ll use it. Django doesn’t care what service you choose though; you can just as easily use <a href="https://www.mailgun.com/">MailGun</a> or any other service of your choice.</p>

<p>On the SendGrid homepage click on the large blue button for “See Plans and Pricing”.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/sendgrid_homepage.png" alt="SendGrid homepage" /></p>

<p>On the next page scroll down slightly and look on the left side for the “Try for Free” button. SendGrid provides a free tier we can use although they make it somewhat difficult to find.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/sendgrid_free.png" alt="SendGrid pricing" /></p>

<p>Sign up for your free account on the next page.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/sendgrid_new_account.png" alt="SendGrid new account" /></p>

<p>After confirming your new account via email–that’s kinda meta, no?–you’ll be asked to login and taken to your SendGrid dashboard page.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/sendgrid_loggedin.png" alt="SendGrid loggedin" /></p>

<p>Now we can configure our Django code in the <code class="highlighter-rouge">settings.py</code> file. First we update the email backend to use SMTP.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># msg_project/settings.py</span>
<span class="n">EMAIL_BACKEND</span> <span class="o">=</span> <span class="s">'django.core.mail.backends.smtp.EmailBackend'</span>
</code></pre>
</div>

<p>Then right below it add the following five lines of email configuration. Note that ideally you should store secure information like your password in environment variables, but we won’t here to keep things simple.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># msg_project/settings.py</span>
<span class="n">EMAIL_HOST</span> <span class="o">=</span> <span class="s">'smtp.sendgrid.net'</span>
<span class="n">EMAIL_HOST_USER</span> <span class="o">=</span> <span class="s">'sendgrid_username'</span>
<span class="n">EMAIL_HOST_PASSWORD</span> <span class="o">=</span> <span class="s">'sendgrid_password'</span>
<span class="n">EMAIL_PORT</span> <span class="o">=</span> <span class="mi">587</span>
<span class="n">EMAIL_USE_TLS</span> <span class="o">=</span> <span class="bp">True</span>
</code></pre>
</div>

<p>Make sure to use enter your own SendGrid username for <code class="highlighter-rouge">EMAIL_HOST_USER</code> and password for <code class="highlighter-rouge">EMAIL_HOST_PASSWORD</code>.</p>

<p>That’s it. We’re done! Navigate to the password reset form again at <a href="http://127.0.0.1:8000/accounts/password_reset/">http://127.0.0.1:8000/accounts/password_reset/</a> and you should receive an email in your inbox!</p>

<p>Here’s what mine looks like. Notice that the text is exactly the same as that outputted to our console previously.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/default_email.png" alt="Default email" /></p>

<h2 id="custom-emails">Custom emails</h2>
<p>That text isn’t very personal, is it? Let’s change things. At this point I could just show you what steps to take, but I think it’s helpful if I can explain <strong>how</strong> I figured out how to do this. After all, you want to be able to customize all parts of Django if needed.</p>

<p>In this case, I knew what text Django was using by default but it wasn’t clear where in the Django source code it was written. And since all of Django’s source code is <a href="https://github.com/django/django">available on Github</a> we can can just search it.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/github_django.png" alt="Github Django" /></p>

<p>Use the Github search bar and enter a few words from the email text. If you type in “You’re receiving this email because” you’ll end up at this Github search page.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/github_search.png" alt="Github search" /></p>

<p>The first result is the one we want. It shows the code is located at <code class="highlighter-rouge">django/contrib/admin/templates/registration/password_reset_email.html</code>. That means in the <code class="highlighter-rouge">contrib</code> app the file we want is called <code class="highlighter-rouge">password_reset_email.html</code>.</p>

<p>Here is that default text.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code>{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
</code></pre>
</div>

<p>Let’s change it. We need to create a new <code class="highlighter-rouge">password_reset_email.html</code> file in our <code class="highlighter-rouge">registration</code> folder.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ touch templates/registration/password_reset_email.html
</code></pre>
</div>

<p>Then use the following code which tweaks what Django provided by default.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/registration/password_reset_email.html --&gt;</span>
{% load i18n %}{% autoescape off %}
{% trans "Hi" %} {{ user.get_username }},

{% trans "We've received a request to reset your password. If you didn't make this request, you can safely ignore this email. Otherwise, click the button below to reset your password." %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% endautoescape %}
</code></pre>
</div>

<p>This code might look a little scary so let’s break it down line-by-line. Up top we load the template tag <a href="https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#i18n">i18n</a> which means this text is eligible to be translated into multiple languages. Django has robust <a href="https://docs.djangoproject.com/en/2.0/topics/i18n/">internationalization support</a> though covering it is beyond the scope of this book.</p>

<p>We’re greeting the user by name thanks to <code class="highlighter-rouge">user.get_username</code>. Then we use the built-in <code class="highlighter-rouge">reset_link</code> block to include the custom URL link. Honestly this is just copy/pasted from the Django source code. I’d love to explain it further but as this is a beginner book we’ll move on for now. Django explains its <a href="https://docs.djangoproject.com/en/2.0/topics/auth/passwords/">password management approach</a> in the official docs.</p>

<p>Let’s also update the email’s subject title. To do this we’ll create a new file <code class="highlighter-rouge">templates/registration/password_reset_subject.txt</code>.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(msg) $ touch templates/registration/password_reset_subject.txt
</code></pre>
</div>

<p>Then add the following line of code to the file.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>Please reset your password
</code></pre>
</div>

<p>And we’re all set. Go ahead and try out our new flow again by entering a new password at <a href="http://127.0.0.1:8000/users/password_reset/">http://127.0.0.1:8000/users/password_reset/</a>. Then check your email and it will look like the below.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/password-confirm-reset/password_reset_updated.png" alt="Password reset updated" /></p>

<h2 id="conclusion">Conclusion</h2>
<p>We’ve now finished implementing a complete user authentication flow. Users can sign up for a new account, login, logout, change their password, and reset their password.</p>

<p>Continue on to <a href="chapter_11.html">Chapter 11: Social Messaging app</a> where we’ll build the functionality for our social messaging app itself.</p>

<p><br /></p>
<hr />

<p><br /></p>


 </div>
</article>

    </div>
  </main>
    <footer>
  <div class="container-flex">
    <div class="nav-wrapper">
      <div class="footer-left">
        Copyright &copy; 2018
      </div>
      <div class="footer-right">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="http://eepurl.com/cRL-aP" target="_blank">Newsletter</a>
      </div>
    </div>
  </div>
</footer>

    <!-- Google Analytics -->

</body>
</html>
