<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>Django 2.0 Tutorial for Beginners</title>
  <meta name="description" content="Learn how to develop and deploy real, production-level web applications with Python and Django. And explore Django Rest Framework for building modern web APIs.">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="canonical" href="https://djangoforbeginners.com/">
</head>
<body class="site">
  <header class="header-home">
    <div class="container-flex">
        <h1 class="h1-home">Django 2.0 Tutorial for Beginners</h1>

    </div>
  </header>
  <main class="site-content">
    <div class="container-flex">
      <article class="post">

  <div class="post-header">
    <h1 class="post-title" itemprop="name headline">Chapter 3: A simple app</h1>
    <p class="post-meta">
      Deploy a simple Django app using templates and class-based views</p>
  </div>

  <div class="post-content" itemprop="articleBody">
    <p>In this chapter we’ll build <strong>and deploy</strong> a <em>simple</em> app that has a homepage and an about page. We’ll also learn about Django’s class-based views and templates which are the building blocks for the more complex web applications built later on in the book.</p>

<p>Complete source code can be <a href="https://github.com/wsvincent/djangoforbeginners/tree/master/ch3-simple-app/simple" target="\_blank">found on Github</a>.</p>

<h2 id="setup">Setup</h2>

<p>As in <a href="chapter_02.html">Chapter 2: Hello World app</a>, our initial setup
involves the following steps:</p>

<ul>
  <li>create a new directory for our code</li>
  <li>install Django in a new virtual environment</li>
  <li>create a new Django project</li>
  <li>create a new app <code class="highlighter-rouge">pages</code></li>
  <li>update <code class="highlighter-rouge">settings.py</code></li>
</ul>

<p>Make sure you’re not working in an existing virtual environment. You can tell if there’s anything in parentheses before your command line prompt. If you are simply type <code class="highlighter-rouge">exit</code> to leave it.</p>

<p>We will again create a new directory <code class="highlighter-rouge">simple</code> for our project on the Desktop but you can put your code anywhere you like on your computer. It just needs to be in its own directory.</p>

<p>Within a new command line console start by typing the following:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>$ cd ~/Desktop
$ mkdir simple
$ cd simple
$ pipenv install django
$ pipenv shell
(simple) $ django-admin.py startproject simple_project .
(simple) $ ./manage.py startapp pages
</code></pre>
</div>

<p>I’m using <code class="highlighter-rouge">(simple)</code> here to represent the virtual environment but in reality mine has the form of <code class="highlighter-rouge">(simple-unOYeQ9e)</code>. Your virtual environment name will be unique, too.</p>

<p>Note also that last command uses the shortcut <code class="highlighter-rouge">./manage.py</code> instead of <code class="highlighter-rouge">python manage.py</code>. Writing <code class="highlighter-rouge">python manage.py</code> and then a command is so common in Django that this shortcut has developed over the years. The best developers are deliberately lazy, so let’s be lazy and use this shorter syntax going forward!</p>

<p>Open up <code class="highlighter-rouge">settings.py</code> to add the <code class="highlighter-rouge">pages</code> app to our project under <code class="highlighter-rouge">INSTALLED_APPS</code>:</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># simple_project/settings.py</span>
<span class="n">INSTALLED_APPS</span> <span class="o">=</span> <span class="p">[</span>
    <span class="s">'django.contrib.admin'</span><span class="p">,</span>
    <span class="s">'django.contrib.auth'</span><span class="p">,</span>
    <span class="s">'django.contrib.contenttypes'</span><span class="p">,</span>
    <span class="s">'django.contrib.sessions'</span><span class="p">,</span>
    <span class="s">'django.contrib.messages'</span><span class="p">,</span>
    <span class="s">'django.contrib.staticfiles'</span><span class="p">,</span>
    <span class="s">'pages'</span><span class="p">,</span>
<span class="p">]</span>
</code></pre>
</div>

<p>Start the local web server with <code class="highlighter-rouge">runserver</code>.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ ./manage.py runserver
</code></pre>
</div>

<p>And then navigate to <a href="http://127.0.0.1:8000/">http://127.0.0.1:8000/</a>.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/02_django_welcome.png" alt="Django welcome page" /></p>

<h2 id="templates">Templates</h2>

<p>Every web framework needs a convenient way to generate HTML files. In Django, the approach is to use templates so that individual HTML files can be served by a view to a webpage specified by the URL.</p>

<p>The question of where to place the templates directory can be confusing for beginners. Basically there’s two approaches. By default, Django looks within each app for templates. So if we had a template called <code class="highlighter-rouge">home.html</code> in our <code class="highlighter-rouge">pages</code> app, Django expects it to be located at <code class="highlighter-rouge">pages/templates/pages/home.html</code>.</p>

<p>Instead of having templates located all across your code base, many developers prefer to create a single project-level <code class="highlighter-rouge">templates</code> folder. This is the approach we’ll use.</p>

<p>First quit our server with <code class="highlighter-rouge">Control-c</code>. Then create a project-level folder called <code class="highlighter-rouge">templates</code> and an HTML file called <code class="highlighter-rouge">home.html</code>.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ mkdir templates
(simple) $ touch templates/home.html
</code></pre>
</div>

<p>Next we need to update <code class="highlighter-rouge">settings.py</code> to tell Django to look at the project-level for templates. This is a one-line change to the setting <code class="highlighter-rouge">'DIRS'</code> under <code class="highlighter-rouge">TEMPLATES</code>.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># simple_project/settings.py</span>
<span class="n">TEMPLATES</span> <span class="o">=</span> <span class="p">[</span>
    <span class="p">{</span>
        <span class="o">...</span>
        <span class="s">'DIRS'</span><span class="p">:</span> <span class="p">[</span><span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">BASE_DIR</span><span class="p">,</span> <span class="s">'templates'</span><span class="p">)],</span>
        <span class="o">...</span>
    <span class="p">},</span>
<span class="p">]</span>
</code></pre>
</div>

<p>Then we can add a simple headline to our <code class="highlighter-rouge">home.html</code> file.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/home.html --&gt;</span>
<span class="nt">&lt;h1&gt;</span>Homepage.<span class="nt">&lt;/h1&gt;</span>
</code></pre>
</div>

<p>Ok, our template is complete! The next step is to configure our url and view.</p>

<h2 id="class-based-views">Class-Based Views</h2>

<p>Early versions of Django only shipped with function-based views, but developers soon found themselves repeating the same patterns over and over again. Write a view that lists all objects in a model. Write a view that displays only one detailed item from a model. And so on.</p>

<p>Function-based generic views were introduced to abstract these patterns and streamline development of common patterns. However there was <a href="https://docs.djangoproject.com/en/2.0/topics/class-based-views/intro/">no easy way to extend or customize these views</a>. As a result, Django introduced class-based generic views that make it easy to use and also extend views covering common use cases.</p>

<p>We’ll use the <a href="https://docs.djangoproject.com/en/2.0/ref/class-based-views/base/#django.views.generic.base.TemplateView">built-in TemplateView</a> to display our template in the <code class="highlighter-rouge">pages/views.py</code> file.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># pages/views.py</span>
<span class="kn">from</span> <span class="nn">django.views.generic</span> <span class="kn">import</span> <span class="n">TemplateView</span>


<span class="k">class</span> <span class="nc">HomePageView</span><span class="p">(</span><span class="n">TemplateView</span><span class="p">):</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">'home.html'</span>
</code></pre>
</div>

<p>Note that we’ve capitalized our view now since it’s a Python class. The <code class="highlighter-rouge">TemplateView</code> already contains all the logic needed to display our template, we just need to specify its name.</p>

<h2 id="urls">URLs</h2>

<p>The last step is to update our URLConfs. Recall from Chapter 2 that we need to make updates in two locations. First we update the project-level <code class="highlighter-rouge">urls.py</code> file to point at our <code class="highlighter-rouge">pages</code> app and then within <code class="highlighter-rouge">pages</code> we match the views to routes.</p>

<p>Let’s start with the project-level <code class="highlighter-rouge">urls.py</code> file.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># simple_project/urls.py</span>
<span class="kn">from</span> <span class="nn">django.contrib</span> <span class="kn">import</span> <span class="n">admin</span>
<span class="kn">from</span> <span class="nn">django.urls</span> <span class="kn">import</span> <span class="n">path</span><span class="p">,</span> <span class="n">include</span>

<span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
    <span class="n">path</span><span class="p">(</span><span class="s">'admin/'</span><span class="p">,</span> <span class="n">admin</span><span class="o">.</span><span class="n">site</span><span class="o">.</span><span class="n">urls</span><span class="p">),</span>
    <span class="n">path</span><span class="p">(</span><span class="s">''</span><span class="p">,</span> <span class="n">include</span><span class="p">(</span><span class="s">'pages.urls'</span><span class="p">)),</span>
<span class="p">]</span>
</code></pre>
</div>

<p>Next create an app-level <code class="highlighter-rouge">urls.py</code> file.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ touch pages/urls.py
</code></pre>
</div>

<p>And add the following code.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># pages/urls.py</span>
<span class="kn">from</span> <span class="nn">django.urls</span> <span class="kn">import</span> <span class="n">path</span>

<span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">views</span>

<span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
    <span class="n">path</span><span class="p">(</span><span class="s">''</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">HomePageView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span> <span class="n">name</span><span class="o">=</span><span class="s">'home'</span><span class="p">),</span>
<span class="p">]</span>
</code></pre>
</div>

<p>This pattern is almost identical to what we did in Chapter 2 with one major difference. When using Class-Based Views, you always add <code class="highlighter-rouge">as_view()</code> at the end.</p>

<p>And we’re done! If you start up the web server with <code class="highlighter-rouge">./manage.py runserver</code> and navigate to <a href="http://127.0.0.1:8000/">http://127.0.0.1:8000/</a> you can see our new homepage.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/03_homepage.png" alt="Homepage" /></p>

<h2 id="add-an-about-page">Add an About Page</h2>

<p>The process for adding an about page is <strong>very</strong> similar to what we just did. We’ll create a new template file, a new view, and a new url route.</p>

<p>Quit the server <code class="highlighter-rouge">Control-c</code> and create a new template called <code class="highlighter-rouge">about.html</code>.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ touch templates/about.html
</code></pre>
</div>

<p>Then populate it with simple HTML.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/about.html --&gt;</span>
<span class="nt">&lt;h1&gt;</span>About page.<span class="nt">&lt;/h1&gt;</span>
</code></pre>
</div>

<p>Create a new view for the page.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># pages/views.py</span>
<span class="kn">from</span> <span class="nn">django.views.generic</span> <span class="kn">import</span> <span class="n">TemplateView</span>


<span class="k">class</span> <span class="nc">HomePageView</span><span class="p">(</span><span class="n">TemplateView</span><span class="p">):</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">'home.html'</span>


<span class="k">class</span> <span class="nc">AboutPageView</span><span class="p">(</span><span class="n">TemplateView</span><span class="p">):</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s">'about.html'</span>
</code></pre>
</div>

<p>And then connect it to a url at <code class="highlighter-rouge">about/</code>.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># pages/urls.py</span>
<span class="kn">from</span> <span class="nn">django.urls</span> <span class="kn">import</span> <span class="n">path</span>

<span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">views</span>

<span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
    <span class="n">path</span><span class="p">(</span><span class="s">''</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">HomePageView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span> <span class="n">name</span><span class="o">=</span><span class="s">'home'</span><span class="p">),</span>
    <span class="n">path</span><span class="p">(</span><span class="s">'about/'</span><span class="p">,</span> <span class="n">views</span><span class="o">.</span><span class="n">AboutPageView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span> <span class="n">name</span><span class="o">=</span><span class="s">'about'</span><span class="p">),</span>
<span class="p">]</span>
</code></pre>
</div>

<p>Start up the web server with <code class="highlighter-rouge">./manage.py runserver</code>, navigate to <a href="http://127.0.0.1:8000/about">http://127.0.0.1:8000/about</a>, and you can see our new “About page”.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/03_about.png" alt="About page" /></p>

<h2 id="extending-templates">Extending Templates</h2>

<p>The real power in templates is their ability to be extended. If you think about most web sites, there is content that is repeated on every page (header, footer, etc). Wouldn’t it be nice if we, as developers, could have <em>one canonical place</em> for our header code that would be inherited by all other templates?</p>

<p>Well we can! Let’s create a <code class="highlighter-rouge">base.html</code> file containing a header with links to our two pages. First <code class="highlighter-rouge">Control-c</code> and then type the following.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ touch templates/base.html
</code></pre>
</div>

<p>Django has a minimal templating language for adding links and basic logic in our templates. To add links we can use the <a href="https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#url">built-in url tag</a>. Remember how we added optional URL names to our url routers? This is why. The <code class="highlighter-rouge">url</code> tag uses these names to automatically create links for us.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- pages/base.html --&gt;</span>
<span class="nt">&lt;header&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{% url 'home' %}"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;</span> | <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{% url 'about' %}"</span><span class="nt">&gt;</span>About<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/header&gt;</span>

{% block content %}
{% endblock %}
</code></pre>
</div>

<p>At the bottom we’ve added a <code class="highlighter-rouge">block</code> tag called <code class="highlighter-rouge">content</code>. Blocks can be overwritten by child templates via inheritance.</p>

<p>Let’s update our <code class="highlighter-rouge">home.html</code> and <code class="highlighter-rouge">about.html</code> to extend the <code class="highlighter-rouge">base.html</code> template.</p>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/home.html --&gt;</span>
{% extends 'base.html' %}

{% block content %}
<span class="nt">&lt;h1&gt;</span>Homepage.<span class="nt">&lt;/h1&gt;</span>
{% endblock %}
</code></pre>
</div>

<div class="language-html highlighter-rouge"><pre class="highlight"><code><span class="c">&lt;!-- templates/about.html --&gt;</span>
{% extends 'base.html' %}

{% block content %}
<span class="nt">&lt;h1&gt;</span>About page.<span class="nt">&lt;/h1&gt;</span>
{% endblock %}
</code></pre>
</div>

<p>Now if you start up the server with <code class="highlighter-rouge">./manage.py runserver</code> and open up our webpages again at
<a href="http://127.0.0.1:8000/">http://127.0.0.1:8000/</a> and <a href="http://127.0.0.1:8000/about">http://127.0.0.1:8000/about</a> you’ll
see the header is magically included in <em>both</em> locations.</p>

<p>Nice, right?</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/03_home_header.png" alt="Homepage with header" /></p>

<p><img src="https://djangoforbeginners.com/assets/images/book/03_about_header.png" alt="About page with header" /></p>

<p>There’s <em>a lot</em> more we can do with templates and in practice you’ll typically create a <code class="highlighter-rouge">base.html</code> file and then add
additional templates on top of it in a robust Django project. We’ll do this later on in the book.</p>

<h2 id="tests">Tests</h2>

<p>Finally we come to tests. Even in an application this simple, it’s important to add tests and get in the habit of always
adding them to our Django projects. In the words of <a href="https://jacobian.org/">Jacob Kaplan-Moss</a>, one of Django’s original
creators, “Code without tests is broken as designed.”</p>

<p>Fortunately Django comes with robust, built-in
<a href="https://docs.djangoproject.com/en/2.0/topics/testing/overview/">testing tools</a> that make writing and running tests
easier.</p>

<p>If you look within our <code class="highlighter-rouge">pages</code> app, Django already provided a <code class="highlighter-rouge">tests.py</code> file we can use. Open it and add the
following code:</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># pages/tests.py</span>
<span class="kn">from</span> <span class="nn">django.test</span> <span class="kn">import</span> <span class="n">SimpleTestCase</span>


<span class="k">class</span> <span class="nc">SimpleTests</span><span class="p">(</span><span class="n">SimpleTestCase</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">test_home_page_status_code</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="n">response</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">client</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">'/'</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">assertEqual</span><span class="p">(</span><span class="n">response</span><span class="o">.</span><span class="n">status_code</span><span class="p">,</span> <span class="mi">200</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">test_about_page_status_code</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="n">response</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">client</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s">'/about/'</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">assertEqual</span><span class="p">(</span><span class="n">response</span><span class="o">.</span><span class="n">status_code</span><span class="p">,</span> <span class="mi">200</span><span class="p">)</span>
</code></pre>
</div>

<p>We’re using <a href="https://docs.djangoproject.com/en/2.0/topics/testing/tools/#django.test.SimpleTestCase">SimpleTestCase</a>
here since we aren’t using a database. If we were using a database, we’d instead use
<a href="https://docs.djangoproject.com/en/2.0/topics/testing/tools/#django.test.TestCase">TestCase</a>. Then we perform a simple
check if the status code for each page is 200, which is the
<a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">standard response for a successful HTTP request</a>.</p>

<p>To run the tests quit the server <code class="highlighter-rouge">Control-c</code> and type <code class="highlighter-rouge">./manage.py test</code> on the command line:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ ./manage.py test
Creating test database for alias 'default'...
..
----------------------------------------------------------------------
Ran 2 tests in 0.028s

OK
Destroying test database for alias 'default'...
</code></pre>
</div>

<p>Success! We’ll do much more with testing in the future, especially once we start working with databases. For now, it’s
important to see how easy it is to add tests each and every time we add new functionality to our Django project.</p>

<h2 id="git-and-bitbucket">Git and Bitbucket</h2>
<p>It’s time to track our changes with <em>git</em> and push them up to Bitbucket. We’ll start by initializing our directory.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ git init
</code></pre>
</div>

<p>Use <code class="highlighter-rouge">git status</code> to see all our code changes then <code class="highlighter-rouge">git add -A</code> to add them all. Finally we’ll add our first commit message.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ git status
(simple) $ git add -A
(simple) $ git commit -m 'initial commit'
</code></pre>
</div>

<p>Over on Bitbucket <a href="https://bitbucket.org/repo/create">create a new repo</a> which we’ll call <code class="highlighter-rouge">simple-app</code>.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/03_bitbucket_create.png" alt="Bitbucket Create Page" /></p>

<p>On the next page click on the bottom link for “I have an existing project”. Copy the two commands to connect and then push the repository to Bitbucket.</p>

<p>It should look like this, replacing <code class="highlighter-rouge">wsvincent</code> with your Bitbucket username:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ git remote add origin <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="86e1eff2c6e4eff2e4f3e5ede3f2a8e9f4e1">[email&#160;protected]</a>:wsvincent/simple-app.git
(simple) $ git push -u origin master
</code></pre>
</div>

<h2 id="local-vs-production">Local vs Production</h2>
<p>Up to this point we’ve been using Django’s own internal web server to power our <em>simple</em> application locally on our computer. But you can’t share a localhost address with someone else. To make our site available on the Internet where everyone can see it, we need to deploy our code to an external server that anyone can use to see our site. This is called putting our code into <em>production</em>. Local code lives only on our computer; production code lives on an external server.</p>

<p>There are many server providers available but we will use <a href="https://www.heroku.com/">Heroku</a> because it is free for small projects, widely-used, and has a relatively simple deployment process.</p>

<h2 id="heroku">Heroku</h2>
<p>You can sign up for a free <a href="https://www.heroku.com/">Heroku</a> on their website. After you confirm your email Heroku will redirect you to the dashboard section of the site.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/03_heroku_dashboard.png" alt="Heroku dashboard" /></p>

<p>Now we need to install Heroku’s <em>Command Line Interface (CLI)</em> so we can deploy from the command line. We want to install Heroku globally so it is available across our entire computer, so open up a new command line tab (Control + t). If we installed Heroku within our virtual environment, it would only be available there.</p>

<p>Within this new tab, on a Mac use Homebrew to install Heroku:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>$ brew install heroku
</code></pre>
</div>

<p>On Windows, see the <a href="https://devcenter.heroku.com/articles/heroku-cli#download-and-install">Heroku CLI page</a> to correctly install either the 32-bit or 64-bit version.</p>

<p>Once installation is complete you can close our new command line tab and return to the initial tab with the <code class="highlighter-rouge">simple</code> virtual environment active.</p>

<p>Type the command <code class="highlighter-rouge">heroku login</code> and use the email and password for Heroku you just set.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ heroku login
Enter your Heroku credentials:
Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a6d1cfcacae6d1d5d0cfc8c5c3c8d288c5c9cb">[email&#160;protected]</a>
Password: *********************************
Logged in as <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c1b6a8adad81b6b2b7a8afa2a4afb5efa2aeac">[email&#160;protected]</a>
</code></pre>
</div>

<h2 id="additional-files">Additional Files</h2>
<p>We need to make the following changes to our <em>Simple</em> project so it’s ready to deploy online with Heroku:</p>

<ul>
  <li>update <code class="highlighter-rouge">Pipfile.lock</code></li>
  <li>new <code class="highlighter-rouge">Procfile</code> file</li>
  <li>install <code class="highlighter-rouge">gunicorn</code></li>
  <li>one-line change to <code class="highlighter-rouge">settings.py</code> file</li>
</ul>

<p>Within your <code class="highlighter-rouge">Pipfile</code> specify the version of Python we’re using, which is <code class="highlighter-rouge">3.6</code>. Add these two lines at the bottom of the file.</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># Pipfile</span>
<span class="p">[</span><span class="n">requires</span><span class="p">]</span>
<span class="n">python_version</span> <span class="o">=</span> <span class="s">"3.6"</span>
</code></pre>
</div>

<p>Then run <code class="highlighter-rouge">pipenv lock</code> to generate the appropriate <code class="highlighter-rouge">Pipfile.lock</code>.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ pipenv lock
</code></pre>
</div>

<p>Heroku actually looks in our <code class="highlighter-rouge">Pipfile.lock</code> for information on our virtual environment, which is why we add the language setting here.</p>

<p>Then create a <code class="highlighter-rouge">Procfile</code> which is specific to Heroku.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ touch Procfile
</code></pre>
</div>

<p>Open <code class="highlighter-rouge">Procfile</code> with your text editor and add the following:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>web: gunicorn simple_project.wsgi --log-file -
</code></pre>
</div>

<p>Now we need to install <a href="http://gunicorn.org/">gunicorn</a> which is a web server suitable for production. We’ll continue to use Django’s local server on our computer but will use gunicorn on Heroku.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ pipenv install gunicorn
</code></pre>
</div>

<p>The final step is a one-line change to <code class="highlighter-rouge">settings.py</code>. Scroll down to the section called <code class="highlighter-rouge">ALLOWED_HOSTS</code> and add a <code class="highlighter-rouge">'*'</code> so it looks as follows:</p>

<div class="language-python highlighter-rouge"><pre class="highlight"><code><span class="c"># simple_project/settings.py</span>
<span class="n">ALLOWED_HOSTS</span> <span class="o">=</span> <span class="p">[</span><span class="s">'*'</span><span class="p">]</span>
</code></pre>
</div>

<p>And we’re done!</p>

<p>Use <code class="highlighter-rouge">git status</code> to check our changes, add the new files, and then commit them:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ git status
(simple) $ git add -A
(simple) $ git commit -m "New updates for Heroku deployment"
</code></pre>
</div>

<p>And push to Bitbucket so we have an online backup:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ git push -u origin master
</code></pre>
</div>

<h2 id="deploy">Deploy</h2>

<p>The last step is to create an app on Heroku itself, which we can do from the command line with <code class="highlighter-rouge">heroku create</code>. Heroku will create a random name for our app, in my case <code class="highlighter-rouge">cryptic-oasis-40349</code>. Your name will be different.</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ heroku create
Creating app... done, ⬢ cryptic-oasis-40349
https://cryptic-oasis-40349.herokuapp.com/ | https://git.heroku.com/cryptic-oasis-40349.git
</code></pre>
</div>

<p>Finally push the code to Heroku too using the name of your app. Mine is <code class="highlighter-rouge">cryptic-oasis-40349</code> so my command is as follows:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ heroku git:remote -a cryptic-oasis-40349
</code></pre>
</div>

<p>Tell Heroku to ignore static files, which we’ll cover in the next chapter:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ heroku config:set DISABLE_COLLECTSTATIC=1
</code></pre>
</div>

<p>Push our code to Heroku:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ git push heroku master
</code></pre>
</div>

<p>Then add (free) scaling to our dyno so it’s running:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ heroku ps:scale web=1
</code></pre>
</div>

<p>Then open our new project with <code class="highlighter-rouge">heroku open</code> which will automatically open a web browser with the URL of your app:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>(simple) $ heroku open
</code></pre>
</div>

<p>Mine is at <a href="https://cryptic-oasis-40349.herokuapp.com/about/">https://cryptic-oasis-40349.herokuapp.com/about/</a>. You can see both the homepage and about page are up now.</p>

<p><img src="https://djangoforbeginners.com/assets/images/book/03_home.png" alt="Homepage on Heroku" /></p>

<p><img src="https://djangoforbeginners.com/assets/images/book/03_heroku_about.png" alt="About page on Heroku" /></p>

<h2 id="conclusion">Conclusion</h2>

<p>Congratulations on building and deploying your second Django project! This time we used templates, class-based views, explored
URLConfs more fully, added basic tests, and used Heroku!</p>

<p>Next up we’ll move on to our first database-backed project and see where Django really shines. Continue on to <a href="chapter_04.html">Chapter
4: Message Board app</a>.</p>

<p><br /></p>
<hr />

<p><br />
Sign up for the <a href="http://eepurl.com/cRL-aP">Django For Beginners newsletter</a> for updates when new chapters are available and special discounts for the print edition of the book.</p>

  </div>
</article>

<div id="disqus_thread"></div>

    </div>
  </main>
    <footer>
  <div class="container-flex">
    <div class="nav-wrapper">
      <div class="footer-left">
        Copyright &copy; 2018
      </div>
      <div class="footer-right">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="http://eepurl.com/cRL-aP" target="_blank">Newsletter</a>
      </div>
    </div>
  </div>
</footer>

    <!-- Google Analytics -->

</body>
</html>
