{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% comment %}{% if request.user.is_authenticated %}{% endcomment %}
<!--PEN CODE-->
<div class="full">
<div class="blog-card">
    <div class="photo photo1"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Features of Python</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <a href="#">Read More</a>
    </div>
</div>
<div class="blog-card alt">
    <div class="photo photo2"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Operations on List</h2>
        <p class="summary">Python supports a concept called "list comprehensions". It can be used to construct lists in a very natural, easy way, like a mathematician is used to do.</p>
        <a href="#">Read More</a>
    </div>
</div>
<!--END PEN CODE-->
<div class="blog-card">
    <div class="photo photo1"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Operation on Strings</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <a href="#">Read More</a>
    </div>
</div>
<div class="blog-card alt">
    <div class="photo photo2"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Mastering Click: Writing Advanced Python Command-Line Apps</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <a href="#">Read More</a>
    </div>
</div>

<div class="blog-card">
    <div class="photo photo1"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Python’s enumerate() Function Demystified</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <a href="#">Read More</a>
    </div>
</div>
<div class="blog-card alt">
    <div class="photo photo2"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Memoization in Python: How to Cache Function Results</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <a href="#">Read More</a>
    </div>
</div>
</div>




















{% comment%} <div class="container">
<section class="data1">
    <div class="images1">
        <img  class="images1" src="{% static 'images/python.jpeg' %}"/>
    </div>
    <div class="text1">
        <p>
            <strong>Python tutorial. Why, how and where to use Python.<a class="test" href="#">click</a> </strong>
            <h6 class="col-md-9 list" style="display: none;">
                <p>This tutorial is for Python beginners, who want to learn python. <a href="#">Details</a></p>
            </h6>
        </p>
    </div>
</section>
    <section class="data1">
    <div class="images1">
        <img  class="images1" src="{% static 'images/python.jpeg' %}"/>
    </div>
    <div class="text1">
        <p>
            <strong>Python tutorial. Why, how and where to use Python.<a class="test" href="#">click</a> </strong>
            <h6 class="col-md-9 list" style="display: none;">
                <p>This tutorial is for Python beginners, who want to learn python. <a href="#">Details</a></p>
            </h6>
        </p>
    </div>
</section>
    <section class="data1">
    <div class="images1">
        <img  class="images1" src="{% static 'images/python.jpeg' %}"/>
    </div>
    <div class="text1">
        <p>
            <strong>Python tutorial. Why, how and where to use Python.<a class="test" href="#">click</a> </strong>
            <h6 class="col-md-9 list" style="display: none;">
                <p>This tutorial is for Python beginners, who want to learn python. <a href="#">Details</a></p>
            </h6>
        </p>
    </div>
</section>
    <section class="data1">
    <div class="images1">
        <img  class="images1" src="{% static 'images/python.jpeg' %}"/>
    </div>
    <div class="text1">
        <p>
            <strong>Python tutorial. Why, how and where to use Python.<a class="test" href="#">click</a> </strong>
            <h6 class="col-md-9 list" style="display: none;">
                <p>This tutorial is for Python beginners, who want to learn python. <a href="#">Details</a></p>
            </h6>
        </p>
    </div>
</section>
    <section class="data1">
    <div class="images1">
        <img  class="images1" src="{% static 'images/python.jpeg' %}"/>
    </div>
    <div class="text1">
        <p>
            <strong>Python tutorial. Why, how and where to use Python.<a class="test" href="#">click</a> </strong>
            <h6 class="col-md-9 list" style="display: none;">
                <p>This tutorial is for Python beginners, who want to learn python. <a href="#">Details</a></p>
            </h6>
        </p>
    </div>
</section>
    <section class="data1">
    <p>
        <strong>Blog <a href="#">Click Here</a></strong>
    </p>
</section>
</div> 
{% else %}
    <h2> Please login to explore more features</h2>
    <a href="/login/">Login</a>
{% endif %}{% endcomment%}
{% endblock %}

