{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% comment %}{% if request.user.is_authenticated %}{% endcomment %}
<div class="blog-card alt">
    <div class="photo photo2"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Python Introduction</h2>
        <p class="summary">Python is a dynamic, interpreted (bytecode-compiled) language. There are no type declarations of variables, parameters, functions, or methods in source code. </p>
        <a href="{% url 'introduction' %}">Read More</a>
    </div>
</div>

<div class="blog-card">
    <div class="photo photo1"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Features of Python</h2>
        <p class="summary">Python is indeed an exciting and powerful language. It has the right combination of performance and features that makes writing programs in Python both fun and easy.
        </p>
        <a href="{% url 'pfeatures' %}">Read More</a>
    </div>
</div>
<div class="blog-card alt">
    <div class="photo photo2"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Python List</h2>
        <p class="summary">Python supports a concept called "list comprehensions". It can be used to construct lists in a very natural, easy way, like a mathematician is used to do.</p>
        <a href="{% url 'lists' %}">Read More</a>
    </div>
</div>
<!--END PEN CODE-->
<div class="blog-card">
    <div class="photo photo1"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Python Strings</h2>
        <p class="summary">Python has a built-in string class named "str" with many handy features.</p>
        <a href="{% url 'strings' %}">Read More</a>
    </div>
</div>
<div class="blog-card alt">
    <div class="photo photo2"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Python Sorting</h2>
        <p class="summary">The easiest way to sort is with the sorted(list) function, which takes a list and returns a new list with those elements in sorted order. The original list is not changed.</p>
        <a href="{% url 'sorting' %}">Read More</a>
    </div>
</div>

<div class="blog-card">
    <div class="photo photo1"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Dict And Files</h2>
        <p class="summary">Python's efficient key/value hash table structure is called a "dict". The contents of a dict can be written as a series of key:value pairs within braces { }, e.g. dict = {key1:value1, key2:value2, ... }. The "empty dict" is just an empty pair of curly braces {}.
</p>
        <a href="{% url 'dict_and_files' %}">Read More</a>
    </div>
</div>
<div class="blog-card alt">
    <div class="photo photo2"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Regular Expressions</h2>
        <p class="summary">Python Regular Expressions
Regular expressions are a powerful language for matching text patterns. </p>
        <a href="{% url 'regular_expression' %}">Read More</a>
    </div>
</div>
<div class="blog-card">
    <div class="photo photo1"></div>
    <ul class="details">
        <li class="author"><a href="https://agrimsharma.github.io/agrimsharma/">Agrim Sharma</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
            <ul>
                <li>Learn</li>
                <li>Code</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="description">
        <h2>Utilities</h2>
        <p class="summary">In this section, we look at a few of Python's many standard utility modules to solve common problems.</p>
        <a href="{% url 'utilities' %}">Read More</a>
    </div>
</div>
{% endblock %}
